* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    height: 42px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.header-line {
    width: 80%;
    justify-self: center;
    margin-bottom: 128px;
    border: 1px solid rgba(216, 216, 216, 1);
}

header a {
    text-decoration: none;
    color: black;
}

header img {
    height: 100%;
}

.header-right-side {
    display: flex;
    align-items: center;
}

.header-menu-buttons {
    display: flex;
    width: 318px;
    justify-content: space-between;
    padding-right: 50px;
}

.header-icon-bar {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.header-icon-bar-icons {
    width: 20px;
    height: 20px;
}

section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 18%;
}

.section-shop-items {
    width: 80%;
    margin: 0 auto;
}

section img {
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 380px;
    left: 13%;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "DM Sans", sans-serif;
}

.hero-title {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    letter-spacing: 0%;
    color: white;
}

.hero-price {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0%;
    color: white;
}

.hero-content button {
    width: 150px;
    height: 50px;
    background: #00000000;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 800;
    margin-top: 30px;
}

.shop-the-latest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 43px;
    width: 100%;
    margin-top: 70px;
}

.bold-text {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 33px;
}

.light-text {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    color: rgba(161, 138, 104, 1);
    text-decoration: none;
}

.latest-jewellery {
    display: flex;
    gap: 40px 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-bottom: 250px;
}

.latest-jewellery-item {
    width: calc((100% - 40px) / 3);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.latest-jewellery-images {
    width: 100%;
    border-radius: 8px;
}

.my-account-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
    height: 60px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.my-account-inactive-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 50px;
    background-color: none;
    margin: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.my-account-active-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 41%;
    height: auto;
    gap: 46px;
    margin-bottom: 15px;
}

#data {
    font-family: DM Sans;
    height: 39px;
    border: none;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    width: 500px;
}

.checkbox {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 41%;
    height: 27px;
    font-family: DM Sans;
    font-size: 13px;
    gap: 4px;
    margin-bottom: 69px;
}

button {
    width: 41%;
    height: 53px;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    margin-top: 54px;
    margin-bottom: 29px;
}

section a {
    text-decoration: none;
    color: black;
}

.reset-password-text {
    display: flex;
    text-align: center;
    width: 44%;
    margin-top: 15px;
    margin-bottom: 76px;
}

.desc-text {
    font-family: DM Sans;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 13px;
}

.secondary-text {
    font-family: DM Sans;
    font-size: 16px;
}

.small-text-grey {
    font-family: DM Sans;
    font-size: 14px;
    color: rgba(112, 112, 112, 1);
}

.small-text-gold {
    font-family: DM Sans;
    font-size: 14px;
    color: rgba(161, 138, 104, 1);
}

.footer-line {
    border: 1px solid rgba(216, 216, 216, 1);
}

footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 90px;
    width: 80%;
    height: 8%
}

.upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 80px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 45px;
    height: 40px;
    width: 40%;
}

.upper-footer-letter {
    height: inherit;
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0 auto;
    margin-top: 35px;
    border-bottom: 1px solid black;
}

.shop-the-latest-shop-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: auto;
}

.containers-shop-items {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.shop-items-left-side {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
}

.shop-items-search {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 39px;
    margin-top: 39px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}

#search {
    height: auto;
    width: 80%;
    border: none;
}

.search-image {
    width: 19px;
    height: 19px;
    margin-bottom: 7px;
}

#shop-by {
    font-family: DM Sans;
    border: 1px solid rgba(216, 216, 216, 1);
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.price-line-shop-items {
    margin-top: 23px;
    margin-bottom: 8px;
}

.price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 39px;
}

.price-info a {
    text-decoration: none;
}

.switches-shop-items {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.switch-shop-items {
    display: flex;
    justify-content: space-between;
}

.middle-black-text {
    font-family: DM Sans;
    font-size: 16px;
}

.shop-items-right-side {
    width: 95%;
    display: flex;
    gap: 40px 18px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 250px;
}

.shop-items-item {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#newsletter {
    width: 90%;
    font-family: DM Sans;
    font-size: 16px;
    border: none;
}

.upper-footer-letter-line {
    width: 33%;
    align-self: flex-end;
    border: 1px solid black;
    top: 80px;
}

footer a {
    text-decoration: none;
}

.footer-text {
    font-family: DM Sans;
    font-size: 16px;
    color: rgba(112, 112, 112, 1);
}

.lower-footer {
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-footer-socials {
    width: 15%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* From Uiverse.io by ErzenXz */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 20px;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 1);
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
    background-color: rgba(161, 138, 104, 1);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
    content: "On";
    color: #05c46b;
    right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
    transform: translateX(15px);
}